{% extends 'book_manager/base/base.html' %}

{% block content %}
    <h1>Book Inventory</h1>
    {% if book_catalog %}
    <ul>
        {% for book in book_catalog%}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'book-results' %}" method="get">
        <label for="search">Use search for book information or to update book information</label><br>
        <input name="q" id="search"  type="text" placeholder="Search by book title">
        <input type="submit" value="search">
    </form>
{% endblock %}