{% extends 'book_manager/base/base.html' %}

{% block content %}
    <h2>Book Inventory Management System</h2>
    <p>
        To add or modify books click on book management link. <br>
        To add or modify author info click on author management link. <br>
        To contact tech support click on contact link. <br>
    </p>
    <h3>Total authors and books</h3>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
{% endblock %}
